{%extends 'base.html'%}
{%block title %}
 Omkara News India My Details
{% endblock %}
{% load static %}
{% block x %}
<div class="fs-2 text-center">My <b class="text-danger "> Details <i class="fa-solid fa-login"></i></b><br/><br/>
    </div>

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10 text-center"  >

        <img src="{%static 'images/dd1.jpg'%}" height="200px" width="200px" /><br/><br/>
        <b>Name:</b> Dipankar Dubey<br/>
        <b>College:</b> Firoze Gandhi Polytechnic (RBL)<br/>
        <b>Branch:</b> Computer Science Eng.<br/>

        <b>Qualification</b> Diploma<br/>



    </div>
    <div class="col-sm-1"></div>
</div>

{% endblock %}